
.cardscontainer{
 margin-top: 143px !important;
}
.cards{
 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.cards:hover{
  box-shadow: 0.3rem 0.3rem rgb(83, 83, 83), -0.3rem -0.3rem #ccc;
}
.card-img-top{
  width: 150px !important;
  height: 150px !important;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.des{
  /* width: 10px !important; */
}
.card-title{
  font-size: 15PX !important;
}
.card-text{
 white-space: nowrap !important;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width:28ch;
}
.qtyBtn{
  border-radius: 100px;
  border: none;
  background-color: aliceblue;
}
.logout{

  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}