.main-bg {
  background: var(--main-bg) !important;
}
.loginContainer{
  margin-top: 10%;
}

input:focus, button:focus {
  border: 1px solid var(--main-bg) !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}

.card, .btn, input{
  border-radius:0 !important;
}

.cardscontainer{
 margin-top: 143px !important;
}
.cards{
 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  
 border: none !important;
}
.cards:hover{ box-shadow: 0 0 10px;

}
.card-img-top{
  width: 150px !important;
  height: 150px !important;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.des{
  /* width: 10px !important; */
}
.card-title{
  font-size: 15PX !important;
}
.card-text{
 white-space: nowrap !important;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width:28ch;
}
.qtyBtn{
  border-radius: 100px;
  border: none;
  background-color: aliceblue;
}
.logout{

  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.loader {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  margin-top: 20%;

}